@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Change 1</p>
<p>Change 2 AAAA</p>

<p>Use this area to provide additional information.</p>
